html,
body {
    height: 100vh;
}

.container,
.row {
    height: 100%;
}

#edit-image {
    bottom: 0;
    width: 100%;
    opacity: 0;
    transition: all .2s;
    z-index: 99;
}

div#profile-pic-wrapper:after {
    content: "";
    background-color: #1f1f1f;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    transition: all .2s;
}

#profile-pic-wrapper:hover #edit-image {
    opacity: 1;
}

div#profile-pic-wrapper:hover:after {
    opacity: .3;
}

#profile-pic-wrapper {
    max-height: 245px;
    overflow: hidden;
    background-color: #313131;
}